@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
    <div class="table">
        <div class="title">
            <label>@Networking.ServerName</label>
            <label class="small">@(Connection.All.Count) / @Networking.MaxPlayers</label>
        </div>

        <div class="col">
            <div class="header row">
                <div class="name"></div>
                <div class="stat">Kills</div>
                <div class="stat">Deaths</div>
                <div class="stat">Ping</div>
            </div>

            @foreach ( var entry in Scene.GetAll<PlayerData>().OrderByDescending( x => x.Kills ).ThenBy( x => x.DisplayName ) )
            {
                string specialClass = "";
                if ( entry.IsMe ) specialClass = "me";

                <div class="row player @specialClass">
                    <img class="avatar" src="avatar:@entry.Connection.SteamId" />
                    <div class="name">@entry.DisplayName</div>
                    <div class="stat">@entry.Kills</div>
                    <div class="stat">@entry.Deaths</div>
                    <div class="stat">@(entry.Ping.CeilToInt())</div>
                </div>
            }
        </div>
    </div>
</root>

@code
{
    bool IsVisible => HasClass( "visible" );

	string GetTime( Connection c )
	{
		TimeSpan time = DateTime.UtcNow - c.ConnectionTime;

		if ( time.TotalMinutes < 60 )
			return time.ToString( "mm\\m\\ s\\s" );

		return time.ToString( "hh\\h\\ \\m\\m" );
	}

	protected override void OnUpdate()
	{
		SetClass( "visible", Input.Down( "score" ) );
	}

    /// <summary>
    /// update every second
    /// </summary>
    protected override int BuildHash() => System.HashCode.Combine( RealTime.Now.CeilToInt() );
}
