@using Sandbox;
@using Sandbox.UI;
@inherits Panel

<root>
    @{
        var weapons = GetWeapons().ToList();
        var activeWeapon = weapons.FirstOrDefault(w => w == Active) ?? weapons.FirstOrDefault();
        bool primaryIsActive = activeWeapon != null && activeWeapon == Hovered;
    }
    <div class="index @(primaryIsActive ? "primary-active" : "")">
        <span class="number">@(Index+1)</span>
        @{
            if (activeWeapon != null && (Hovered?.InventorySlot == Index || Active?.InventorySlot == Index))
            {
                <InventoryWeapon class="primary" Weapon="@activeWeapon" CanSwitch=@activeWeapon.CanSwitch() IsHovered="@(activeWeapon == Hovered)" IsActive="@(activeWeapon == Active)"></InventoryWeapon>
            }
        }
    </div>

    <div class="list">
    @{
        var allWeapons = GetWeapons().ToList();
        var firstWeapon = allWeapons.FirstOrDefault(w => w == Active) ?? allWeapons.FirstOrDefault();
        foreach ( var weapon in allWeapons.Where(w => w != firstWeapon) )
        {
            <InventoryWeapon Weapon="@weapon" CanSwitch=@weapon.CanSwitch() IsHovered="@(weapon == Hovered)" IsActive="@(weapon == Active)"></InventoryWeapon>
        }
    }
    </div>

</root>

@code
{
    public PlayerInventory Inventory { get; set; }
    public BaseCarryable Active { get; set; }
    public BaseCarryable Hovered { get; set; }

    public int Index { get; set; }

    IEnumerable<BaseCarryable> GetWeapons()
    {
        if (!Inventory.IsValid()) return Enumerable.Empty<BaseCarryable>();

        return Inventory.Weapons.Where(x => x.InventorySlot == Index).OrderBy(x => x.InventoryOrder);
    }

    public override void Tick()
    {
        base.Tick();

        SetClass("active", Hovered?.InventorySlot == Index || Active?.InventorySlot == Index);
    }

	protected override int BuildHash() => HashCode.Combine( GetWeapons().Count() );

}
